:root {
  --inter-primary: #360023;
  --inter-secondary: #ec6d64;
  --inter-tertiary: #ef8277;
  --inter-text-primary: #232323;
  --inter-text-second: #454545;
  --inter-clean-color: #fff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.my-spacer {
  width: 100%;
  height: 10px;
  background-color: var(--inter-tertiary);
  margin: 10px 0;
  opacity: .3;
}

.my-container {
  background-color: white;
}

.my-auto-x-scroll {
  overflow-x: auto;
}

.my-padding-flex {
  padding: 5px 20px;
}

/* Vuetify styles */

body .toolbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

body .menu__content {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/* Nav-View styles - vuetify */

body .snack__wrapper {
  background-color: var(--inter-primary);
}

.my-buttons .btn {
  text-transform: initial;
  font-weight: normal;
  color: var(--inter-text-primary);
  font-size: 1.1rem;
}